root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{yml,yaml,json,md}]
indent_size = 2

[*.{csproj,props,targets,config}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.cs]
# using внутри namespace не используем
csharp_style_namespace_declarations = file_scoped:suggestion
csharp_using_directive_placement = outside_namespace:warning

# Явные имена предпочтительнее var
csharp_style_var_elsewhere = false:suggestion
csharp_style_var_for_built_in_types = false:suggestion
csharp_style_var_when_type_is_apparent = false:suggestion

dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false

# Обработка исключений
csharp_style_prefer_try_catch = true:suggestion

# Аксессоры
dotnet_style_readonly_field = true:suggestion
dotnet_style_require_accessibility_modifiers = for_non_interface_members:suggestion

# Имена
dotnet_naming_rule.private_fields_underscore.severity = suggestion
dotnet_naming_rule.private_fields_underscore.symbols = private_fields
dotnet_naming_rule.private_fields_underscore.style = underscore_camel

dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private

dotnet_naming_style.underscore_camel.required_prefix = _
dotnet_naming_style.underscore_camel.capitalization = camel_case

# Предупреждения как ошибки для нового кода
dotnet_diagnostic.CS0168.severity = warning
dotnet_diagnostic.CS0219.severity = warning
dotnet_diagnostic.CA1416.severity = suggestion